body {
    background-color: black;
    text-align: center;
}

#main_div {
    background-color: rgb(214, 123, 141);
    margin-top: 100px;
    height: 300px;
    width: 400px;
    margin-left: 200px;
}

h2 {
    padding: 20px;
    font-size: 25px;
    text-shadow: 3px 3px 6px rgb(241, 20, 20);
}

h4,
h3 {
    font-size: x-large;
}

label {
    font-size: 30px;
    color: rgb(22, 2, 77);
}

input {
    font-size: 25px;
    width: 100px;
    height: 40px;
}