.myslides {
    width: 100%;
}

body {
    background-color: rgb(190, 204, 204);
}

#btnl {
    font-size: 40px;
    padding: 10px;
    color: rgb(245, 240, 240);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: black;
    background-color: hsl(7, 100%, 50%);
}

#btnr {
    font-size: 40px;
    padding: 10px;
    color: rgb(241, 237, 237);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: black;
    background-color: hsl(7, 100%, 50%);
}

img {
    width: 958px;
    height: 578px;
}

a:hover {
    cursor: grab;
}

.wrapper {
    margin-left: 250px;
}

h1 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px red;
}